<div class="row">
    <h2 class="col-12">Register page</h2>
</div>

<div class="row">
    <p class="col-12">
        You have account?
        <a
            class="text-primary"
            routerLink="/login"
        >
            Try to login
        </a>
    </p>
</div>

<div class="row">
    <form class="col-12">
        <div class="form-group">
            <label>E-mail</label>
            <input
                autofocus
                type="text"
                class="form-control"
            >
        </div>

        <div class="form-group">
            <label>Password</label>
            <input
                type="password"
                class="form-control"
            >
        </div>

        <div class="form-group">
            <label>Confirm password</label>
            <input
                type="password"
                class="form-control"
            >
        </div>

        <button
            class="btn btn-primary"
            type="submit"
        >
            Register
        </button>
    </form>

</div>
